body{
    display: flex;
    background-color: lightgrey;
    justify-content: center;
    font-family: "Press Start 2P", system-ui;
    align-items: center;
    min-height: 100vh; /* copied from Stack Overflow https://stackoverflow.com/questions/31217268/center-div-on-the-middle-of-screen */
}
button{
    font-family: inherit;
    font-size:14px;
    flex: 1;
    border-radius: 50%;
    border-style: none;
}
.case{
    display: flex;
    height: 450px;
    width: 300px;
    border-radius: 10px;
    border: solid slategray 1px;
    background-color: lightblue;
    flex-direction: column;
}
.viewport{
    border-radius: 5px;
    background-color: lightseagreen;
    flex:1;
    margin: 10px 10px 5px;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}
.viewport p{
    font-size: 24px;
}
.buttons{
    margin: 5px 10px;
    flex:4;
    display:flex;
    flex-direction: column;
    gap:2px;
}
.operator{
    background-color: 	#fff5c3;
}
.row{
    display:flex;
    gap:5px;
    flex:1;
    border-radius: 5px;
    background-color: cadetblue;
    padding:5px;
}
